<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softtech.hafy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HaFy">
        <activity android:name=".Notification"></activity>
        <activity android:name=".Pengacara" />
        <activity android:name=".Pembayaran" />
        <activity android:name=".Konsultasi" />
        <activity
            android:name=".ChatPerson"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Edukasi" />
        <activity
            android:name=".BuatArtikel"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ChatRoom" />
        <activity android:name=".Pencarian" />
        <activity android:name=".Akun" />
        <activity
            android:name=".Register"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Login"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>